<h1 class="title">freeCodeCamp React Lessons</h1>

<%= link_to 'Components',    fcc_components_path %>
<%= link_to 'Props',         fcc_props_path %>
<%= link_to 'States',        fcc_states_path %>
<%= link_to 'Life_Cycle',    fcc_life_cycle_path %>
<%= link_to 'Inline_Styles', fcc_inline_styles_path %>
<%= link_to 'Advanced',      fcc_advanced_path %>
<br />
<%= link_to 'Just a standard test', demo_index_path%>
